* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}

/* MOBILE FIRST */
/* MOBILE FIRST */

body {
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.containerOuter {
    width: 327px;
    height: 567px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 16px;
    background-image: url(./images/illustration-hero.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.containerInner {
    width: 280px;
    margin: 0 auto;
    margin-top: 200px;
}

/* THE TOP SECTION SETTINGS */
.topIntro h1 {
    text-align: center;
    margin-bottom: 16px;
}

.topIntro p {
    text-align: center;
    width: 275px;
    line-height: 1.5;
    color: hsl(224, 23%, 55%);
    font-size: medium;
    margin: 0 auto;
}

/* THE MID SECTION SETTINGS */
.midPricingDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 16px;
    padding: 0 16px;
    margin-top: 24px;
}

.midPricingDetails img {
    width: 50px;
    height: 50px;
}

.midPricingDetails a {
    font-size: small;
}

.pricing p {
    margin: 0;
    font-size: small;
}

.pricing p:first-child {
    font-weight: bold;
}

.pricing p:nth-child(2) {
    color: hsl(224, 23%, 55%);
}

/* THE BOTTOM SECTION SETTINGS */
button:first-child {
    width: 280px;
    height: 50px;
    background-color: hsl(245, 75%, 52%);
    border: 0;
    border-radius: 16px;
    margin-top: 24px;
    color: hsl(225, 100%, 98%);
    font-weight: 700;
}

button:nth-child(2) {
    width: 280px;
    height: 50px;
    background-color: transparent;
    border: 0;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
}


/* NOW, THE DESKTOP SETTINGS */
/* NOW, THE DESKTOP SETTINGS */

@media (min-width: 1440px) {
    body {
        background-image: url(./images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .containerOuter {
        width: 450px;
        height: 700px;
    }

    .containerInner {
        width: 355px;
        margin-top: 270px;
    }

    .topIntro h1 {
        font-size: 1.8rem;
    }

    .topIntro p {
        width: auto;
    }

    .pricing p {
        font-size: medium;
    }

    .midPricingDetails a:hover {
        text-decoration: none;
    }

    .bottomButtons button {
        width: 100%;
    }

    .bottomButtons button:first-child {
        margin-top: 32px;
    }

    .bottomButtons button:first-child:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .bottomButtons button:nth-child(2) {
        margin-top: 16px;
    }

    .bottomButtons button:nth-child(2):hover {
        color: black;
        cursor: pointer;
    }
}