* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}

.containerOuter {
    width: 327px;
    height: 567px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 16px;
    background-image: url(./images/illustration-hero.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.containerInner {
    width: 280px;
    margin: 0 auto;
}

.topIntro h1 {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 16px;
}

.topIntro p {
    text-align: center;
    width: 275px;
    line-height: 1.5;
    color: hsl(224, 23%, 55%);
    font-size: medium;
    margin: 0 auto;
}

.midPricingDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 16px;
    padding: 0 16px;
    margin-top: 24px;
}

.midPricingDetails img {
    width: 50px;
    height: 50px;
}

.midPricingDetails a {
    font-size: small;
}

.pricing p {
    margin: 0;
    font-size: small;
}

.pricing p:first-child {
    font-weight: bold;
}

.pricing p:nth-child(2) {
    color: hsl(224, 23%, 55%);
}

button:first-child {
    width: 280px;
    height: 50px;
    background-color: hsl(245, 75%, 52%);
    border: 0;
    border-radius: 16px;
    margin-top: 24px;
    color: hsl(225, 100%, 98%);
    font-weight: 700;
}

button:nth-child(2) {
    width: 280px;
    height: 50px;
    background-color: transparent;
    border: 0;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
}